h1 {color:#4fb1ff;
	margin-left: 15px;}

h2 {color:#ec7a77;
	margin-left: 15px;}

#nav {border:3px dashed #adebeb;

margin: 10px 5px 15px 20px
padding:10px 10px 10px 10px;}

#nav a {text-decoration: none;
	color:#cc99ff;}

.recommended {font-family: sans-serif; margin-left:15px}