#Title1{
	color:gray;
  text-align: center;
}

 #Title2{
 	color:silver;
 	text-align: center;
 }
.Text {
	color:white;
	text-align: justify;
	font-family: comic sans
	margin-top: 0%;}

.Text2 {
	color:white;
	text-align: justify;
	font-family: comic sans
	margin-top: 0%;}